apiVersion: v1 
kind: Service
metadata:
  name: task-api-service
  labels:
    app: task-api 
spec:
  type: NodePort
  selector:
    app: task-api
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP